* {
	margin: 0;
	padding: 0;
}

html, body {
	font-family: 'Exo 2', sans-serif;
	height: 100%;
	width: 100%;
	background-color: whitesmoke;
}

.header {
	position: fixed;
	top: 0;
	background-color: #2D2C2E;
	height: 56px;
	border-bottom: 0px;
	padding-left: auto;
	padding-right: auto;
	width: 100%;
}

#logo {
	background-color: #2D2C2E;
	float: left;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 30px;
	padding: 6px 8px 6px 16px;
	background-repeat: no-repeat;
}

.menu {
	background-color: #2D2C2E;
	text-decoration: none;
	top: 0px;
	right: 0px;
	height: 37px;
	padding-top: 17px;
	padding-right: 25px;
}

.menu ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu a{
	float: right;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 14px;
	background-repeat: no-repeat;
	padding-left: 10px;
	padding-right: 10px;
}

.menu a:hover,.sidemenu a:hover{
	color: #D2CCD9;
}

.sidemenu {
	position: fixed;
	top: 50px;
	font-size: 20px;
	width: 15%;
	color: #FFFFFF;
	display: inline-block;
    background-color: #2D2C2E;
    height: 100%;
}

.sidemenu ul {
	list-style-type: none;
}

.sidemenu li a {
	display: block;
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	color: #FFFFFF;
}

span {
	display: block;
	padding: 6px 8px 6px 16px;
	text-decoration: none;
}

span.active {
	color: #909090;
}

#submenu ul{
	padding-left: 15px;
}

#submenu span {
	cursor: pointer;
}

li.active > a {
	color: #909090;
}


#userName {
	padding-top: 25px;
	padding-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	word-break: break-word;
}

.time {
	font-size: 10px;
	margin-left: 5px;
	margin-bottom: 5px;
}



table {
	margin: 0px auto;
	padding-top: 70px;
}

#loggin_text {
	background-color: #FFFFFF;
	border: 1px solid black;
	font-size: 15 px;
	padding: 5px;
	width: 300px;
	margin-bottom: 3px;
	margin-top: 3px;
	border: 1 px black;
	border-radius: 4px;
	outline: none;
}

#loggin_submit{
	font-size: 15 px;
	padding: 5px;
	width: 312px;
	margin-bottom: 3px;
	margin-top: 3px;
	border: 1px;
	border-radius: 4px;
	outline: none;
}

.posting {
	position: fixed;
	margin-top: 80px;
	left: 105px;
	width: 100%;
	font-size: 13px;
	color: white;
	text-align: center;
}

#messeging {
	background-color: #FFFFFF;
	border: 1px solid black;
	font-size: 15 px;
	padding: 5px;
	width: 65%;
	margin-bottom: 3px;
	margin-top: 3px;
	border: 1 px black;
	border-radius: 4px;
	height: 30px;
	outline: none;
}

#msg_submit{
	font-size: 15 px;
	padding: 5px;
	width: 100px;
	margin-bottom: 3px;
	border: 1px;
	height: 45px;
	border-radius: 4px;
	outline: none;
}

input[type=submit]:hover {
    background-color: #D2CCD9;
}

.footer {
   position: fixed;
   padding-top: 15px;
   bottom: 0; 	
   width: 100%;
   background-color: #2D2C2E;
   font-size: 13px;
   color: white;
   text-align: center;
}

.notfound {
	color: black;
	text-align: center;
}

.profile_pos{
	padding-left: 200px;
}
.profile {
	margin: 0px auto;
	margin-top: 100px;
	padding-top: 100px;
	padding-bottom: 0px;
	width: 50%;
	background-color: #2D2C2E;
	font-size: 13px;
	color: white;
 }

.pro_group {
	margin: 0px auto;
	padding-top: 80px;
	padding-bottom: 80px;
	width: 50%;
	background-color: #D2CCD9;
	font-size: 13px;
	color: white;
 }

 .pro_info {
	margin: 0px auto;
	padding-top: 150px;
	padding-bottom: 150px;
	width: 50%;
	background-color: #666;
	font-size: 13px;
	color: white;
 }
 

 #pro_username {
	margin-top: 150px;
	background-color: #2D2C2E;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 30px;
	padding: 6px 8px 6px 8px;
	background-repeat: no-repeat;

}

.feed {
	position: fixed;
	margin-top: 160px;
	left: 20%;	
	height: 75%;
	width: 75%;
	overflow-y:auto;
	overflow: auto;
	border: 1px solid #666;
	border-radius: 10px;
	background-color: #FFFFFF;
	
}

/*
	References:
		https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp
*/

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #666; 
}