* {
	margin: auto;
	padding: auto;
}

.header {
	background-color: #2D2C2E;
	height: 56px;
	border-bottom: 0px;
	padding-left: auto;
	padding-right: auto;
	width: 100%;
}


#menu {
	background-color: #2D2C2E;
	top: 0px;
	right: 0px;
	height: 37px;
	padding-top: 19px;
	padding-right: 100px;
}

#menu a {
	float: right;
	color: #FFFFFF;
	text-decoration: none;
	font-family: 'Exo 2', sans-serif;
	font-size: 14px;
	background-repeat: no-repeat;
	padding-top: 1px;
	padding-bottom: 22px;
	padding-left: 10px;
	padding-right: 10px;
}

#menu a:hover{
	color: #D2CCD9;
}

#logo {
	background-color: #2D2C2E;
	float:left;
	top: 0px;
	right: 0px;
	height: 40px;
	padding-top: 15px;
	padding-left: 150px;
}

#logo t {
	background-color: #2D2C2E;
	color: #FFFFFF;
	text-decoration: none;
	font-family: 'Exo 2', sans-serif;
	font-size: 25px;
	background-repeat: no-repeat;
	padding-top: 19px;
	padding-bottom: 11px;
	padding-left: 10px;
	padding-right: 10px;
}

ul {
	font-family: 'Exo 2', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #2D2C2E;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
	font-family: 'Exo 2', sans-serif;
    display: block;
    color: #FFFFFF;
    padding: 8px 16px;
    text-decoration: none;
}


.dropdown1 {
	display: none;
	
}

li:hover .dropdown1 {
	display: block;
}

h2 {
	font-family: 'Exo 2', sans-serif;
	padding-top: 19px;
	margin-left: 250px;
	padding-bottom: 12px;
}

#loggin_text {
	background-color: #FFFFFF;
	border: 1px solid black;
	font-family: 'Exo 2', sans-serif;
	font-size: 15 px;
	padding: 5px;
	width: 300px;
	margin-bottom: 3px;
	margin-left: 250px;
	margin-top: 3px;
	border: 1 px black;
	border-radius: 4px;
	outline: none;
}

#loggin_submit{
	font-family: 'Exo 2', sans-serif;
	font-size: 15 px;
	padding: 5px;
	width: 312px;
	margin-left: 250px;
	margin-bottom: 3px;
	margin-top: 3px;
	border: 1px;
	border-radius: 4px;
	outline: none;
}

.posting {
	margin-top: 545px;
}

#messeging {
	background-color: #FFFFFF;
	border: 1px solid black;
	font-family: 'Exo 2', sans-serif;
	font-size: 15 px;
	padding: 5px;
	width: 1000px;* {
	margin: auto;
	padding: auto;
}

.header {
	background-color: #2D2C2E;
	height: 56px;
	border-bottom: 0px;
	padding-left: auto;
	padding-right: auto;
	width: 100%;
}


#menu {
	background-color: #2D2C2E;
	top: 0px;
	right: 0px;
	height: 37px;
	padding-top: 19px;
	padding-right: 100px;
}

#menu a {
	float: right;
	color: #FFFFFF;
	text-decoration: none;
	font-family: 'Exo 2', sans-serif;
	font-size: 14px;
	background-repeat: no-repeat;
	padding-top: 1px;
	padding-bottom: 22px;
	padding-left: 10px;
	padding-right: 10px;
}

#menu a:hover{
	color: #D2CCD9;
}

#logo {
	background-color: #2D2C2E;
	float:left;
	top: 0px;
	right: 0px;
	height: 40px;
	padding-top: 15px;
	padding-left: 150px;
}

#logo t {
	background-color: #2D2C2E;
	color: #FFFFFF;
	text-decoration: none;
	font-family: 'Exo 2', sans-serif;
	font-size: 25px;
	background-repeat: no-repeat;
	padding-top: 19px;
	padding-bottom: 11px;
	padding-left: 10px;
	padding-right: 10px;
}

.sidenav{
	font-family: 'Exo 2', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #2D2C2E;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidenav a, .dropdown1 {
	font-family: 'Exo 2', sans-serif;
	padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.dropdown_menu1{
    display: none;
    background-color: #2D2C2E;
    padding-left: 15px;
}

h2 {
	font-family: 'Exo 2', sans-serif;
	padding-top: 19px;
	margin-left: 250px;
	padding-bottom: 12px;
}

#loggin_text {
	background-color: #FFFFFF;
	border: 1px solid black;
	font-family: 'Exo 2', sans-serif;
	font-size: 15 px;
	padding: 5px;
	width: 300px;
	margin-bottom: 3px;
	margin-left: 250px;
	margin-top: 3px;
	border: 1 px black;
	border-radius: 4px;
	outline: none;
}

#loggin_submit{
	font-family: 'Exo 2', sans-serif;
	font-size: 15 px;
	padding: 5px;
	width: 312px;
	margin-left: 250px;
	margin-bottom: 3px;
	margin-top: 3px;
	border: 1px;
	border-radius: 4px;
	outline: none;
}

.posting {
	position: fixed;
	bottom: 80px;
	width: 100%;
	font-size: 13px;
	color: white;
	text-align: center;
}

#messeging {
	background-color: #FFFFFF;
	border: 1px solid black;
	font-family: 'Exo 2', sans-serif;
	font-size: 15 px;
	padding: 5px;
	width: 980px;
	margin-bottom: 3px;
	margin-left: 390px;
	margin-top: 3px;
	border: 1 px black;
	border-radius: 4px;
	height: 30px;
	outline: none;
}

#msg_submit{
	font-family: 'Exo 2', sans-serif;
	font-size: 15 px;
	padding: 5px;
	width: 100px;
	margin-bottom: 3px;
	border: 1px;
	height: 45px;
	border-radius: 4px;
	outline: none;
}

input[type=submit]:hover {
    background-color: #D2CCD9;
}

body {
	background-color: whitesmoke;
}

.footer {
   position: fixed;
   padding-top: 15px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #2D2C2E;
   font-family: 'Exo 2', sans-serif;
   font-size: 13px;
   color: white;
   text-align: center;
}

.notfound {
	color: black;
	text-align: center;
}

	margin-bottom: 3px;
	margin-left: 400px;
	margin-top: 3px;
	border: 1 px black;
	border-radius: 4px;
	height: 30px;
	outline: none;
}

#msg_submit{
	font-family: 'Exo 2', sans-serif;
	font-size: 15 px;
	padding: 5px;
	width: 100px;
	margin-bottom: 3px;
	border: 1px;
	height: 45px;
	border-radius: 4px;
	outline: none;
}

input[type=submit]:hover {
    background-color: #D2CCD9;
}

body {
	background-color: whitesmoke;
}




.footer {
   position: fixed;
   padding-top: 15px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #2D2C2E;
   font-family: 'Exo 2', sans-serif;
   font-size: 13px;
   color: white;
   text-align: center;
}

.notfound {
	color: black;
	text-align: center;
}
